.tableContents {
	background-color:#B8DBFF;
    border:2px dashed black;
    height:400px;
    width:200px;
    text-align:center;
    margin-right:10px;
    margin-top:5px;
    font-family:Verdana;
    font-size:12px;
    float:right;
}

#contents {
	text-decoration:underline;
}

div div {
	text-align:left;
    color:#12161A;
}

a {
	text-decoration:none;
    color:#820000;
}

#logo {
	height:134;
    width:287px;
    float:center;
}

* {
	font-family:Verdana;
}